<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TindHire</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <style>
         :root {
            --banner-url: url("{{ url_for('static', filename='banner.png') }}");
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="banner">
          <h1>Welcome to TindHire!</h1>
          <h2>AI-Powered CV Prioritization: Hire the best, first!</h2>
        </div>
    </div>

    <div class="content">
        <p>
            <h4>Find your best profile here in 3 steps.</h4><br/>
        </p>

        <div class="step-container">
            <p class="steps">
                Step 1: Select the CV to screen. Click on choose file.<br/>
                Step 2: Click on upload CV.<br/>
                Step 3: Get the best profile.<br/>
                <br/>
                <br/>
             </p>
        </div>

        <h3>Upload your CV and see the result.</h3>
        <form method="post" action="/upload" enctype="multipart/form-data" id="uploadForm">
            <input type="file" name="file" id="file">
            <button type="submit" id="uploadButton" disabled>Upload CV</button>
        </form>

        <div id="message"></div>
        
        <div id="loader-container" style="display: none;">
            <span class="loader-text">Low priority</span><span class="loader"></span><span class="loader-text">High priority</span>
        </div>
    
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </div>
</body>
</html>
