body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 2000px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 100%;
}

.banner > img {
    width: 100%;
    max-width: 2000px;

}

.banner {
    height: 150px;
    background-image: var(--banner-url);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding-top: 70px;
}

.content {
    padding: 100px;
    background-color: white;
}

h1 {
    color: white;
    font-size: 40px;
}

h2 {
    color: white;
    font-size: 25px;
}

h3 {
    color: blue;
}

.file-input {
    display: none;
}

.file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button {
    background-color: green;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
button:disabled {
    background-color: lightgray;
 }
